body {
    margin: 0;
    padding: 0;
    font-family: 'Haettenschweiler';
    color: rgb(255, 255, 255);
    background-color: #131260;
    display: flex;
    flex-direction: column;
    min-height: 500vh;
}

.header-image {
    height: 1000px;
    background: url('icibg.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.caption {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    flex: 1;
}

.contact {
    padding: 20px;
    background-color: #131260;
    text-align: center;
    margin-top: auto; 
}

.content, .contact, .btn, .caption{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-delay: 4s;
}

.show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.btn button {
    background-color: rgb(34, 34, 158);
    border: 1px solid rgb(20, 20, 112);
    color: white;
    padding: 20px 34px;
    cursor: pointer;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.strands_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensure equal spacing */
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
    justify-content: center;
}

.strands_grid img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto; /* Center images */
}
.ICT_capt{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size:60px;
    margin-left: 35%;
}
.STEM_capt{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size:60px;
    margin-left: 42%;
}
.HUMMS_capt{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size:60px;
    margin-left: 28%;
}
.HRCTO_capt{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size:60px;
    margin-left: 41%;
}
.ICT_logo{
    grid-column: span 1;

}
.STEM_logo{
    grid-column: span 2;

}
.HUMMS_logo{
    grid-column: span 1;
}
.HRCTO_logo{
    grid-column: span 2;
}

.events_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
    justify-content: center;

}
.events_grid img {
    transition: transform 0.3s, filter 0.3s;
}

.events_grid div:hover img {
    transform: scale(1.05);
    filter: brightness(0.2);
}
.poster_ts {
    grid-column: span 1;
    margin-left: 230px;
}
.poster_ts img {
    width: 250px;
    height: 350px;
    display: block;
}
.ts_caption{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    grid-row-end: 2;
    font-size:24px;
}
.poster_p{
    grid-column: span 1;
    margin-left: 230px;

}
.poster_p img{
    width: 250px;
    height: 350px;
    display: block;

}
.p_caption{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size:24px;
}
.poster_ft{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column: span 1;
    margin-left: 230px;
}
.poster_ft img{
    width: 250px;
    height: 350px;
    display: block;

}


.ft_caption{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 1;
    grid-row-end: 4;
    font-size:24px;

}

